@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body, html, .page-wrapper {
  height: 100%;
}

body {
  line-height: 1.2;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #2d343c;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 40px 40px 40px 95px;
}

.footer {
  padding: 0 40px 20px 95px;
  margin-top: auto;
}

.section {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
.section.active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.legal {
  font-size: 12px;
  text-align: center;
}
.legal a {
  color: #36bd7b;
  text-decoration: none;
}
.legal a:hover {
  text-decoration: underline;
}

.sidebar {
  background: #22272b;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 2px;
  z-index: 9990;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  max-width: 55px;
  width: 100%;
  transition: max-width 0.3s ease-in-out;
}
.sidebar ul {
  padding: 15px 0;
}
.sidebar ul:not(:last-of-type) {
  border-bottom: 1px solid #2d3439;
}
.sidebar ul:last-of-type {
  border-top: 1px solid #2d3439;
}
.sidebar ul li {
  padding: 2px 15px 2px 13px;
  border-left: 2px solid #22272b;
  transition: border-color 0.2s ease-in-out;
}
.sidebar ul li a {
  display: flex;
  font-size: 20px;
  text-align: center;
  color: #4f5b64;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #36bd7b;
}
.sidebar ul li a span {
  display: block;
  width: 0;
  opacity: 0;
  margin-left: 0;
  font-size: 14px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
.sidebar ul li:not(:last-of-type) {
  margin-bottom: 15px;
}
.sidebar ul li.active {
  border-color: #36bd7b;
  padding-left: 13px;
}
.sidebar-socials {
  margin-top: auto;
}
.sidebar.extend {
  max-width: 150px;
}
.sidebar.extend ul li a span {
  opacity: 1;
  width: auto;
  margin-left: 15px;
}
.sidebar.extend #sidebar-toggler {
  color: #36bd7b;
}

.player {
  background: #22272b;
  box-shadow: 0 0 5px 15px rgba(34, 39, 43, 0.3);
  max-width: 600px;
  margin: 0 auto;
}
.player-head {
  display: flex;
  align-items: center;
}
.player-cover {
  width: 190px;
  position: relative;
}
.player-cover img {
  max-width: 100%;
}
.player-cover::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background-image: linear-gradient(to left, #22272b 60%, rgba(34, 39, 43, 0) 100%);
}
.player-dashboard {
  padding: 30px 20px;
  flex-grow: 1;
}
.player-title {
  margin-bottom: 15px;
}
.player-title h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.player-title h4 {
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.player-track {
  height: 4px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 25px;
}
.player-track-current {
  width: 136px;
  background: #36bd7b;
  height: 100%;
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-controls a,
.player-controls span {
  display: block;
  margin: 0 25px;
}
.player-controls a {
  font-size: 20px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.player-controls a i.fa-play,
.player-controls a i.fa-pause {
  font-size: 28px;
}
.player-controls a:hover {
  color: #36bd7b;
}
.player-controls span {
  font-size: 12px;
  font-weight: 300;
}
.player-playlist {
  margin-top: 30px;
  padding: 20px;
}
.player-playlist .playlist-label {
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.player-playlist ul {
  min-height: 380px;
  padding: 0 15px;
}
.player-playlist ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.player-playlist ul li:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.player-playlist ul li span {
  display: block;
}
.player-playlist ul li .track-author {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
