.player {
  background: $dark-gray;
  box-shadow: 0 0 5px 15px rgba($dark-gray, 0.3);
  max-width: 600px;
  margin: 0 auto;
  &-head {
    display: flex;
    align-items: center;
  }
  &-cover {
    width: 190px;
    position: relative;
    img {
      max-width: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      background-image: linear-gradient(to left, $dark-gray 60%, rgba($dark-gray, 0) 100%);
    }
  }
  &-dashboard {
    padding: 30px 20px;
    flex-grow: 1;
  }
  &-title {
    margin-bottom: 15px;
    h3 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 20px;
      font-weight: 400;
      color: rgba($white, 0.5);
    }
  }
  &-track {
    height: 4px;
    border-radius: 2px;
    background: $white;
    margin-bottom: 25px;
    &-current {
      width: 136px;
      background: $green;
      height: 100%;
    }
  }
  &-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    a,
    span {
      display: block;
      margin: 0 25px;
    }
    a {
      font-size: 20px;
      color: $white;
      transition: color .3s ease-in-out;
      i.fa-play,
      i.fa-pause {
        font-size: 28px;
      }
      &:hover {
        color: $green;
      }
    }
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
  &-playlist {
    margin-top: 30px;
    padding: 20px;
    .playlist-label {
      padding-bottom: 5px;
      margin-bottom: 20px;
      color: rgba($white, .5);
      border-bottom: 1px solid rgba($white, .5);
    }
    ul {
      min-height: 380px;
      padding: 0 15px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        &:not(:last-child) {
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid rgba($white, .4);
        }
        span {
          display: block;
        }
        .track-author {
          color: rgba($white, .5);
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }
}